<div class="user-nav-buttons-container">
</div>
<div class="user-show-container">
  <h1 class="user-first-name">
    <%= @user.first_name %>
  </h1>
  <h3 class="cookbooks-subheader">
    Cookbooks You Contribute To
  </h3>
  <div class="user-cookbooks-container">
    <ul>
      <% @cookbooks_subscribed.each do |cookbook| %>
        <li><%= link_to "#{cookbook.title}", cookbook_path(cookbook) %></li>
      <% end %>
    </ul>
  </div>
</div>
