<div class="boxes-container">
  <% if @user %>
    CookBooks Soon
  <% else %>
    <div class="row">
      <div class="small-12 columns">
        <div class="boxes">
          <p class="boxes-text">
            Start building your household cookbook! <br/> <%= link_to 'Join Vittles Today', new_user_registration_path, class: "landing-page-links"%> 
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
