.top-bar {
  background-color: #6AC1C4;
}
.fa-utensils {
  color: #333333;
}
#title-text {
  background-color: #6AC1C4;
  color: #333333;
  font-family: 'Rammetto One', cursive;
}
#flash-top-bar {
  background-color: red;
}
.top-bar-section ul li > a {
    font-family: 'Source Sans Pro', sans-serif;
}
.has-dropdown {
  text-align: center;
}

.top-bar-section .dropdown li {
  background-color: #6AC1C4;
}
.top-bar-section .dropdown a{
  color: #234041;
  font-family: 'Rammetto One', cursive;
}
.top-bar-section .dropdown li.parent-link {
  height: 0rem;
  margin: 0;
}
.top-bar-section .dropdown li.parent-link a{
  visibility: hidden;
  margin: -.3rem;
}
#home-mobile-link {
  a:hover {
    background-color: #222222;
    color: #FFFFFF;
    i{
      color: #FFFFFF;
    }
  }
}
