.user-show-container {
  background-color: #F5F5F5;
  width: 70%;
  margin: 4rem auto;
  .user-first-name {
    font-size: 2rem;
    font-family: 'Rammetto One', cursive;
    margin-left: 1rem;
  }
}

.user-nav-buttons-container{
  background-color: #F5F5F5;
  height: 3rem;
  width: 100%;
}

.cookbooks-subheader {
  margin-left: 1rem;
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;

}
